<div class="container mt-5" >
    Welcome to COVID 19 application. This application will display data and graph related to covid cases.
    <br>
    <br>
    <h4>Register</h4>  
    You will need to register before login into this application. You can register using this <a routerLink="/register">Link</a>
    <br>
    <br>
    <h4>Login</h4>  
    You will need to login before using this application.  You can login using this <a routerLink="/login">Link</a>
    <br>
    <br>
    <h4>List Page</h4>  
    You can navigate to "List" Page to check list of cases. This page will help you in checking line by line details using different filters like name, state, status etc.  You can go to list page using this <a routerLink="/list">Link</a>
    <br>
    <br>
    <h4>Summary Page</h4>  
    You can also navigate to "Summary" page, which will display graphs and summary of cases (Gender wise, Status wise, Date wise) etc. Also you can filter summary data by State and Gender. You can go to summary page using this <a routerLink="/summary">Link</a>
    <br>
    <br>
    <h4>Logout Page</h4>  
    If you want to logout just click this <a routerLink="/logout">Link</a>
</div>